/* You can add global styles to this file, and also import other style files */


  .dark-mode{
    background-color: #535a91;
    color: #fcefd2;
  }

  .light-mode{
    background-color: #fcefd2;
    color: #535a91;
  }
